@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Amit Patel<br />
    Brampton - ON<br />
    <abbr title="Phone">P:</abbr>
    647 706 2648
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:amitpatelmca@gmail.com">amitpatelmca@gmail.com</a><br />    
</address>